@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@theme {
  /* Fonts */
  --font-poppins: Poppins, "sans-serif";
}

* {
  @apply font-poppins;
}

html,
body {
  overflow-x: hidden;
  @apply bg-white text-neutral-900;
}

::selection {
  @apply bg-green-500 text-white;
}

@layer base {
  .section-title {
    @apply text-3xl md:text-4xl font-bold text-gray-900;
  }
  .section-subtitle {
    @apply mt-4 text-lg text-gray-600 max-w-2xl mx-auto;
  }
}
